html, body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
}
#back{
    position: fixed;
    inset:0;
    width: 100%;
    height:100%;
    object-fit:cover;
    z-index: -100;
}
#body1{
    height:300px;
    width:600px;
    background: #EDE7F6;
    margin:auto;
    margin-top:180px;
    border-radius:20px;
    box-shadow: 0 0 20px rgba(255, 20, 147, 0.5);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#title{
    font-family:'Orbitron';
    letter-spacing:1px;
    color: #7A3B69;
}
#title2{
    font-size:45px;
    font-weight:bold;
    margin-bottom:10px;
    letter-spacing: 1px;
}
#title3{
    letter-spacing:1px;
    font-size:18px;
}
#butstart{
    width:200px;
    height:40px;
    margin-top:45px;
    font-size:17px;
    border-radius:10px;
    border:0;
    outline:0;
    background-color:#8f6183;
    color:white;
    cursor:pointer;
}
#butstart:hover{
    box-shadow: 0 0 10px rgba(255, 20, 147, 0.5);
}
#butstart:active{
    transform: scale(0.95);
}